<a href="https://colab.research.google.com/github/Djugson/The-NodeJS-Master-Class/blob/master/DS_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [128]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import numpy as np

train=pd.read_csv("DSChallengeDataset - task_train_data.csv")

In [129]:
#Turn sting into a number
train['Gender'].replace(to_replace=['Male','Female'],value=[0,1],inplace=True)
train['Property_Area'].replace(to_replace=['Rural','Urban','Semiurban'], value=[0,1,2],inplace=True)
train['Dependents'].replace(to_replace=['3+'], value=[3],inplace=True)
train['Married'].replace(to_replace=['No','Yes'], value=[0,1],inplace=True)
train['Education'].replace(to_replace=['Not Graduate','Graduate'], value=[0,1],inplace=True)
train['Self_Employed'].replace(to_replace=['No','Yes'], value=[0,1],inplace=True)
train['Loan_Status'].replace(to_replace=['N','Y'], value=[0,1],inplace=True)

In [130]:
train.head()

  Loan_ID  Gender  Married  ... Credit_History  Property_Area  Loan_Status
0     ID1     0.0      0.0  ...            1.0              1            1
1     ID2     0.0      1.0  ...            1.0              0            0
2     ID3     0.0      1.0  ...            1.0              1            1
3     ID4     0.0      1.0  ...            1.0              1            1
4     ID5     0.0      0.0  ...            1.0              1            1

[5 rows x 13 columns]

In [131]:
#Fill the empty cells
train['Gender'].fillna(train['Gender'].mode()[0], inplace=True)
train['Married'].fillna(train['Married'].mode()[0], inplace=True)
train['Dependents'].fillna(train['Dependents'].mode()[0], inplace=True)
train['Loan_Amount_Term'].fillna(train['Loan_Amount_Term'].mode()[0], inplace=True)
train['Credit_History'].fillna(train['Credit_History'].mode()[0], inplace=True)
train['Self_Employed'].fillna(train['Self_Employed'].mode()[0], inplace=True)
train['LoanAmount'].fillna(train['LoanAmount'].mean(), inplace=True)
train['Education'].fillna(train['Education'].mode()[0], inplace=True)
train['ApplicantIncome'].fillna(train['ApplicantIncome'].mean(), inplace=True)
train['CoapplicantIncome'].fillna(train['CoapplicantIncome'].mean(), inplace=True)

In [132]:
train.head()

  Loan_ID  Gender  Married  ... Credit_History  Property_Area  Loan_Status
0     ID1     0.0      0.0  ...            1.0              1            1
1     ID2     0.0      1.0  ...            1.0              0            0
2     ID3     0.0      1.0  ...            1.0              1            1
3     ID4     0.0      1.0  ...            1.0              1            1
4     ID5     0.0      0.0  ...            1.0              1            1

[5 rows x 13 columns]

In [133]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier

from sklearn.model_selection import train_test_split

from sklearn import metrics

var = ['Credit_History', 'Education', 'Married', 'Self_Employed', 'Property_Area', 'Gender', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount', 'Loan_Amount_Term']
res = 'Loan_Status'
data_train, data_test = train_test_split(train)

In [134]:
model_LR = LogisticRegression(max_iter=150)
model_LR.fit(train[var],train[res])
predictions = model_LR.predict(train[var])
accuracy_LR = metrics.accuracy_score(predictions,train[res])

error_LR = []
model_LR.fit(data_train[var], data_train[res])
error_LR.append(model_LR.score(data_test[var], data_test[res]))
print("- Logistic Regression -")
print ("Accuracy : %s" % "{0:.3%}".format(accuracy_LR))
print("Cross-Validation Score : %s" % "{0:.3%}".format(np.mean(error_LR)))

- Logistic Regression -
Accuracy : 81.270%
Cross-Validation Score : 79.870%

In [135]:
model_RF = RandomForestClassifier()
model_RF.fit(train[var],train[res])
predictions = model_RF.predict(train[var])
accuracy_RF = metrics.accuracy_score(predictions,train[res])

error_RF = []
model_RF.fit(data_train[var], data_train[res])
error_RF.append(model_RF.score(data_test[var], data_test[res]))
print("- Random Forest -")
print ("Accuracy : %s" % "{0:.3%}".format(accuracy_RF))
print("Cross-Validation Score : %s" % "{0:.3%}".format(np.mean(error_RF)))

- Random Forest -
Accuracy : 100.000%
Cross-Validation Score : 77.922%

In [136]:
model_knn = KNeighborsClassifier()
model_knn.fit(train[var],train[res])
predictions = model_knn.predict(train[var])
accuracy_KNN = metrics.accuracy_score(predictions,train[res])

error_KNN = []
model_knn.fit(data_train[var], data_train[res])
error_KNN.append(model_knn.score(data_test[var], data_test[res]))
print("- K Nearest Neighbots -")
print ("Accuracy : %s" % "{0:.3%}".format(accuracy_KNN))
print("Cross-Validation Score : %s" % "{0:.3%}".format(np.mean(error_KNN)))

- K Nearest Neighbots -
Accuracy : 72.964%
Cross-Validation Score : 57.792%